# #how to use git
# /gituse

# #py setting
# .vscode/
# settings.json

# # Database stuff
# migrations/

# # Environments
# .env
# .venv
# env/
# venv/
# ENV/
# env.bak/
# venv.bak/

# # Django
# *.log
# *.pot
# *.pyc
# __pycache__/
# settings.py
# media
# .env