{% load static %}

<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, intial-scale=1">
    <title>대학 지도</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main_page/css/main_page_style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script type="text/javascript" src="{% static 'main_page/js/main_page_with_logos.js' %}"></script>
</head>

<body>
    <div class="wrapper">
        <div class="jumbotron jumbotron-fluid sticky-top">
            <div class="top-blue-line">
                <div class="dot-wrapper" onclick="location.href='/';">
                    <div class="red-dot dot"></div>
                    <div class="yellow-dot dot"></div>
                    <div class="green-dot dot"></div>
                </div>
            </div>
            <div class="main_name text-center">
                대학별 지도
            </div>
            <div class="select text-center">
                원하는 학교를 클릭하세요.
            </div>
        </div>
        <div class="below-container">
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/00강원대.png' %}" , alt="강원대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/01건국대.png' %}" , alt="건국대 로고" , class="logo_images">
            </div>
            <div class=" logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/02경북대.png' %}" , alt="경북대 로고" , class="logo_images">
            </div>
            <div class=" logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/03경희대.png' %}" , alt="경희대 로고" , class="logo_images">
            </div>
            <div class=" logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/04고려대.png' %}" , alt="고려대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/05광운대.png' %}" , alt="광운대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/06국민대.png' %}" , alt="국민대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/07단국대.png' %}" , alt="단국대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/08덕성여대.png' %}" , alt="덕성여대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/09동국대.png' %}" , alt="동국대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/10동덕여대.png' %}" , alt="동덕여대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/11명지대.png' %}" , alt="명지대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/12부산대.png' %}" , alt="부산대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/13삼육대.png' %}" , alt="삼육대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/14상명대.png' %}" , alt="상명대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/15서강대.png' %}" , alt="서강대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/16서경대.png' %}" , alt="서경대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/17서울과기대.png' %}" , alt="서울과기대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/18서울대.png' %}" , alt="서울대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/19서울시립대.png' %}" , alt="서울시립대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/20서울여대.png' %}" , alt="서울여대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/21성균관대.png' %}" , alt="성균관대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/22성신여대.png' %}" , alt="성신여대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/23세종대.png' %}" , alt="세종대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/24숙명여대.png' %}" , alt="숙명여대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/25숭실대.png' %}" , alt="숭실대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/26아주대.png' %}" , alt="아주대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/27연세대.png' %}" , alt="연세대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/28울산과기대.png' %}" , alt="울산과기대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/29이화여대.png' %}" , alt="이화여대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/30인하대.png' %}" , alt="인하대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/31중앙대.png' %}" , alt="중앙대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/32포항공대.png' %}" , alt="포항공대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/33한국과학기술원.png' %}" , alt="한국과학기술원 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/34한국외국어대.png' %}" , alt="한국외국어대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/35한성대.png' %}" , alt="한성대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/hanyang_map/';">
                <img src="{% static 'main_page/images/36한양대.png' %}" , alt="한양대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/37홍익대.png' %}" , alt="홍익대 로고" , class="logo_images">
                <div class="ps">*가나다순</div>
            </div>
        </div>
    </div>

</body>

</html>