{% load static %}

<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, intial-scale=1">
    <title>대학 지도</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main_page/css/main_page_style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script type="text/javascript" src="{% static 'main_page/js/main_page_with_logos.js' %}"></script>
</head>

<body>
    <div class="wrapper">
        <div class="jumbotron jumbotron-fluid sticky-top">
            <div class="top-blue-line">
                <div class="dot-wrapper" onclick="location.href='/';">
                    <div class="red-dot dot"></div>
                    <div class="yellow-dot dot"></div>
                    <div class="green-dot dot"></div>
                </div>
            </div>
            <div class="main_name text-center">
                대학별 지도
            </div>
            <div class="select text-center">
                원하는 학교를 클릭하세요.
            </div>
        </div>
        <div class="below-container">
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/강원대.png' %}" , alt="강원대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/건국대.png' %}" , alt="건국대 로고" , class="logo_images">
            </div>
            <div class=" logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/경희대.png' %}" , alt="경희대 로고" , class="logo_images">
            </div>
            <div class=" logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/고려대.png' %}" , alt="고려대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/광운대.png' %}" , alt="광운대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/국민대.png' %}" , alt="국민대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/단국대.png' %}" , alt="단국대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/덕성여대.png' %}" , alt="덕성여대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/동국대.png' %}" , alt="동국대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/동덕여대.png' %}" , alt="동덕여대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/명지대.png' %}" , alt="명지대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/삼육대.png' %}" , alt="삼육대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/상명대.png' %}" , alt="상명대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/서강대.png' %}" , alt="서강대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/서경대.png' %}" , alt="서경대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/서울과기대.png' %}" , alt="서울과기대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/서울대.png' %}" , alt="서울대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/서울시립대.png' %}" , alt="서울시립대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/서울여대.png' %}" , alt="서울여대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/성균관대.png' %}" , alt="성균관대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/성신여대.png' %}" , alt="성신여대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/세종대.png' %}" , alt="세종대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/숙명여대.png' %}" , alt="숙명여대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/숭실대.png' %}" , alt="숭실대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/아주대.png' %}" , alt="아주대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/연세대.png' %}" , alt="연세대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/울산과기대.png' %}" , alt="울산과기대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/이화여대.png' %}" , alt="이화여대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/인하대.png' %}" , alt="인하대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/중앙대.png' %}" , alt="중앙대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/포항공대.png' %}" , alt="포항공대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/한국과학기술원.png' %}" , alt="한국과학기술원 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/한국외국어대.png' %}" , alt="한국외국어대 로고" , class="logo_images">
            </div>
            <div class="logo" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/한성대.png' %}" , alt="한성대 로고" , class="logo_images">
            </div>
            <div class="logo left-align" onclick="location.href='/hanyang_map/';">
                <img src="{% static 'main_page/images/한양대.png' %}" , alt="한양대 로고" , class="logo_images">
            </div>
            <div class="logo left-align" onclick="location.href='/inready/';">
                <img src="{% static 'main_page/images/홍익대.png' %}" , alt="홍익대 로고" , class="logo_images">
                <div class="ps">*가나다순</div>
            </div>
        </div>
    </div>

</body>

</html>