html, body {
    height: 100%;
	overflow: auto;
}
body{
    margin: 0;
	background-color: rgb(247,248,249);
}

.above-menu-wrapper{
    padding-top:0;
    padding-bottom:0;
    background-color: rgb(19,107,227);
    display:flex;
    justify-content: space-between;
}
/* 메인 페이지로 돌아가는 기능 */
.dot-wrapper{
    margin-left: 1.6rem;
    width: 72px;
    height: 28px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}
.dot{
    width: 12px;
    height: 12px;
    border-radius: 100%;
}
.red-dot{
    background-color: #FF6157;
}
.yellow-dot{
    background-color: #FEBC2E;
}
.green-dot{
    background-color: #2ACD43;
}

.abbreviated-menu{
    display: none;
    padding: 0 .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid white;
    border-radius: .25rem;
    transition: box-shadow .15s ease-in-out;
    position:absolute;
    right:32px;
    top: 2.5px;
}
.fa-bars {
  color: white;
}

.right-menu{
    display: flex;
    font-family: 'Noto Sans KR', sans-serif;
    margin-right: 1.6rem;
    position:absolute;
    right:0;
}
.mypage-wrapper{
    margin-right:30px;
    position: relative;
    width: 80px;
    text-align: center;
}
.mypage {
    text-decoration: none;
    color: white;
    display: inline-block;
    text-align: center;
    font-size: 12px;
}
.logout, .login, .signup {
    text-decoration: none;
    color: white;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    margin-right: 30px;
}
.menuLink:hover , .mypage-wrapper:hover{
    cursor: pointer;
    color: white;
}
.fa-chevron-down{
    color: white;
}

.dropdown-wrapper{
    display: none;
    list-style: none;
    width: 80px;
    padding-left: 0;
    margin: 4px 0;
    border: 1.5px solid #e5e5e5;
}
.dropdown-menus{
    background-color: white;
}
.dropdown-menus:hover{
    background-color: #e5e5e5;
}
.dropdown-menuitem{
    text-decoration: none;
    color: black;
    display: inline-block;
    text-align: center;
    font-size: 13px;
}
.li-space{
    margin: 0;
    background-color: white;
}

@media screen and (max-width: 1280px){
    .abbreviated-menu{
        display: block;
    }
    .right-menu{
        display: none;
    }
}