html, body {
    height: 100%;
	overflow: auto;
	overflow-x: hidden;
}
body{
    margin: 0;
	background-color: rgb(247,248,249);
}
.wrapper{
	height: 100%;
}

.above-menu-wrapper{
    padding-top:0;
    padding-bottom:0;
    background-color: rgb(19,107,227);
    display:flex;
    justify-content: space-between;
}
/* 메인 페이지로 돌아가는 기능 */
.dot-wrapper{
    margin-left: 1.6rem;
    width: 72px;
    height: 28px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}
.dot{
    width: 12px;
    height: 12px;
    border-radius: 100%;
}
.red-dot{
    background-color: #FF6157;
}
.yellow-dot{
    background-color: #FEBC2E;
}
.green-dot{
    background-color: #2ACD43;
}