html, body {
    height: 100%;
    overflow: auto;
}
body{
    margin: 0;
    background-color: rgb(247,248,249);
}

.above-menu-wrapper{
    padding-top:0;
    padding-bottom:0;
    background-color: rgb(19,107,227);
    display:flex;
    justify-content: space-between;
}

.dot-wrapper{
    margin-left: 1.6rem;
    width: 72px;
    height: 28px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}
.dot{
    width: 12px;
    height: 12px;
    border-radius: 100%;
}
.red-dot{
    background-color: #FF6157;
}
.yellow-dot{
    background-color: #FEBC2E;
}
.green-dot{
    background-color: #2ACD43;
}

.outter-wrapper{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.inner-wrapper{
    width: 50%;
    height: 100%;
    background-color: white;
}

.status-bar{ /* 회원가입 단계 */
    list-style:none;
    margin: 10% 5% 10% 5%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
li{
    color: grey;
}
.active{ /* 현재 회원가입 단계 표시 */
    color : rgb(246,147,33);
    text-shadow: 2px 6px 2px #e5e5e5;
}

/* signup third step */
.signup-success-wrapper{
    text-align: center;
}
.signup-success-img{
    width: 80%;
    height: auto;
    max-height: 550px;
}
.login-btn{
    background-color: rgb(246,147,33);
    color: white;
    border: 1px rgb(246,147,33) solid;
    white-space: nowrap;
}
.gopost-btn{
    background-color: white;
    border: 1px #e5e5e5 solid;
    color:black;
    white-space: nowrap;
}

/* signup second step */
#join-form{
    padding-left: 25%;
    padding-right: 25%;
}
.signup-label{ /* 입력해야 될 내용 */
    font-family: 'Hanna', sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
}
.input-box{ /* 회원가입 시 입력할 인풋 박스 */
    width: calc(100% - 6px);
    height: 25px;
}
.input-box:focus{
    background-color: rgb(247,248,249);
}
.id-header-wrapper{
    width:100%;
    display:flex;
    justify-content: space-between;
}
.id-header-right{
    display:flex;
    height:100%;
    margin-top:20px;
    border: 1px black solid;
    cursor: grabbing;
}
.fa-check-circle{
    margin-top: 2px;
}
.button-to-check-duplicated-id{
    font-size: 15px;
    background-color: rgb(247,248,249);
    margin: 0;
}
#gender{ /* 성별 */
    width: 20%;
    height: 25px;
    min-width: 55.1px;
}

/* 에러 표시 */
.duplicated-id-error{
    color: red;
    font-size: 12px;
}
.warning-password-validation{
    display: none;
    color: red;
    font-size: 12px;
}
.warning-password-confirm{
    display: none;
    color: red;
    font-size: 12px;
}

/* signup first step */
.inner-terms{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.hide-and-show-terms{
    margin-left: 10%;
    display:flex;
    align-items: center;
    background-color: #e5e5e5;
    color: rgb(45,75,122);
    cursor: pointer;
}
h3{
    margin: 0 2px 0 2px;
}
.check-agreement{ /* 약관 동의 체크 wrapper */
    display:flex;
    align-items: center;
    justify-content: flex-end;
    width: 20%;
    margin-right: 10%;
}
.check-box{/* 약관 동의 체크 박스 */
    width: 21px;
    height: 21px;
}
.agreement-content-wrapper{ /* 약관 내역 wrapper */
    display:flex;
    justify-content: center;
}
.agreement-content{ /* 약관 내역 */
    display: none;
    width: 80%; 
    height: 150px;
    border: 1px #e5e5e5 solid;
    padding: 10px;
    overflow: auto;
}

.btn-wrapper{
    margin: 15px 20% 0 20%;
    display: flex;
    justify-content: space-evenly;
}
.btn{
    padding: 10px 15px 10px 15px;
    font-size: 15px;
    text-decoration: none;
    text-decoration-style: none;
}
.ok-btn{
    background-color: rgb(246,147,33);
    color: white;
    border: 1px rgb(246,147,33) solid;
}
.goback-btn{
    background-color: white;
    border: 1px #e5e5e5 solid;
    color:black;
    white-space: nowrap;
}
.btn:hover{
    cursor: pointer;
}

/* 반응형 웹 */
@media screen and (max-width: 940px){
    .inner-wrapper{
        width: 460px;
    }
    
    .check-agreement{
        width: 30%;
    }
}

@media screen and (max-width: 480px){
    .inner-wrapper{
        width: 100%;
    }

    .btn{
        font-size: 12px;
    }
    
    .check-agreement{
        width: 35%;
    }
}