html, body {
    height: 100%;
    overflow: auto;
}
body{
    margin: 0;
}

.above-menu-wrapper{
    padding-top:0;
    padding-bottom:0;
    background-color: rgb(45,75,122);
    display:flex;
    justify-content: space-between;
}
.dot-wrapper{
    margin-left: 1.6rem;
    width: 72px;
    height: 28px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}
.dot{
    width: 12px;
    height: 12px;
    border-radius: 100%;
}
.red-dot{
    background-color: #FF6157;
}
.yellow-dot{
    background-color: #FEBC2E;
}
.green-dot{
    background-color: #2ACD43;
}

.outter-wrapper{
    width: 100%;
    height: 100%;
    background-color: rgb(247,248,249);
    display:flex;
    flex-direction: column;
    align-items: center;
}

.inner-wrapper{
    width: 50%;
    height: 80%;
    background-color: white;
}

.status-bar{
    list-style:none;
    margin: 10% 0 10% 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
li{
    color: grey;
}
/*li
inactive: 글씨 회색
active: 글씨 한양대색
*/

.inner-terms{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.hide-and-show-terms{
    margin-left: 2%;
    display:flex;
    align-items: center;
    background-color: #2ACD43;
    cursor: pointer;
}
h3{
    margin: 0 2px 0 2px;
}
.check-box{
    margin-right: 3%;
}
.agreement-content-wrapper{
    display:flex;
    justify-content: center;
}
.agreement-content{
    display: none;
    width: 80%; 
    height: 150px;
    overflow: auto;
}