html, body {
    height: 100%;
}
body{
    overflow: auto;
    margin: 0!important;
}
.wrapper {
    width: 100%;
    height: 100em;
    position: relative;
    left: 0;
    top: 0;
}


.jumbotron{
    background-size: cover;
}

.top-blue-line {
    background-color: rgb(19,107,227);
    width: auto;
    display: flex;
    align-items: center;
}
.dot-wrapper{
    margin-left: 1.6rem;
    width: 72px;
    height: 28px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor:pointer;
}
.dot{
    width: 12px;
    height: 12px;
    border-radius: 100%;
}
.red-dot{
    background-color: #FF6157;
}
.yellow-dot{
    background-color: #FEBC2E;
}
.green-dot{
    background-color: #2ACD43;
}

.main_name { /* 대학별 지도 */
    height: 80px;
    font-size: 340%;
    font-family: 'Impact', 'Arial Black';
    margin-top: 30px; 
    font-weight: 600;
}

.select { /* 원하는 학교를 클릭하세요 */
    font-family: 'Impact', 'Arial Black';
    font-weight: bold;
    margin-bottom: 1em;
}


.below-container{
    padding-top: 4vh;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: space-evenly;
    padding-left: 7.8%;
    padding-right: 7.8%;
    padding-bottom: 80px;
    z-index: 1;
}

.logo{
    position: relative;
    width: 21%;
    border-radius: 7px;
    border: 2px solid rgb(203,206,207);
    box-shadow: 3px 3px 3px rgb(203,206,207);
    background: rgb(244,246,250); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(244,246,250,1) 0%, rgba(234,238,243,1) 20%, rgba(229,233,236,1) 40%, rgba(218,222,227,1) 60%, rgba(209,216,227,1) 80%, rgba(201,206,211,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(244,246,250,1) 0%,rgba(234,238,243,1) 20%,rgba(229,233,236,1) 40%,rgba(218,222,227,1) 60%,rgba(209,216,227,1) 80%,rgba(201,206,211,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(244,246,250,1) 0%,rgba(234,238,243,1) 20%,rgba(229,233,236,1) 40%,rgba(218,222,227,1) 60%,rgba(209,216,227,1) 80%,rgba(201,206,211,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f6fa', endColorstr='#c9ced3',GradientType=0 ); /* IE6-9 */
    margin-bottom: 15px;
    cursor: pointer;
    min-width: 220px;
    max-height: 90.4px;
}
.logo::before{
    content: "";
    display: block;
    padding-top: 40%;
}

.logo_images{
    position: absolute;
    width: 90%;
    height: auto;
    left: 5%;
    top: 20%;
    z-index: 1;
}

.ps { /* 가나다순 */
    position: absolute;
    float: right;
    font-size: xx-small;
    bottom: 0%;
    right: 0%;
}

@media screen and (max-width: 1200px){
    .logo{
        min-width: 200px;
    }
}
@media screen and (max-width: 768px){
    .logo{
        min-width: 180px;
    }
}
@media screen and (max-width: 660px){
    .logo{
        min-width: 160px;
    }
}
@media screen and (max-width: 590px){
    .logo{
        min-width: 140px;
    }
}
@media screen and (max-width: 380px){
    .logo{
        min-width: 120px;
    }
}