{% load static %}

<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1">
    <title>비밀번호변경</title>
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/changepasswd.css' %}">
    <script type="text/javascript" src="{% static 'users/js/changepasswd.js' %}"></script>
</head>

<body>
    <div class="wrapper">
        <div class="above-menu-wrapper">
            <div class="dot-wrapper" onclick="location.href='/';">
                <div class="red-dot dot"></div>
                <div class="yellow-dot dot"></div>
                <div class="green-dot dot"></div>
            </div>
        </div>

        <div class="below-container">
            <div class="container">
                <div class="login-container">
                    {% if error %}
                    <div class="error-message">
                        {{error}}
                    </div>
                    {% endif %}
                    <div class="login-title">
                        Change Password
                    </div>
                    <form method="POST" class="login-form">
                        {% csrf_token %}

                        <div class="login-input-container">
                            <div class="username-form-text">Origin Password</div>
                            <div class="input-container">
                                <input class="login-input" name="origin-passwd" type="password" required>
                            </div>

                            <div class="password-form-text"> New Password</div>
                            <div class="input-container">
                                <input class="login-input" name="new-passwd" type="password" required>
                            </div>
                            <!-- js로 이거에 대한 패스워드 유효성 검증 필요 -->
                            <!-- 디자인 설계, 회원가입2의 폼을 가져오자 -->
                            <div class="confirm-password-form-text">Confirm Password</div>
                            <div class="input-container">
                                <input class="login-input" name="new-passwd-confirm" type="password" required>
                            </div>
                        </div>
                        <div class="login-btn-container">
                            <input type="submit" class="login-btn" value="Submit">
                        </div>
                </div>
                </form>
            </div>
        </div> <!-- below-container -->
    </div><!-- wrapper -->
</body>

</html>