{% load static %}
<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <!-- 캐시삭제 -->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <title>아이디 중복 확인</title>
    <script type="text/javascript" src="{% static 'users/js/checkifIDduplicated.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/checkifIDduplicated.css' %}">
</head>

<body>
    <div class="outter-wrapper">
        <div class="inner-wrapper">
            <form action="" method="POST" enctype="application/x-www-form-urlencoded" id="check-id-form">
                {% csrf_token %}
                <div class="header">
                    <h1>아이디 중복 체크</h1>
                </div>
                <div class="input-wrapper">
                    <input required name="check_username" type="text" maxlength="20" class="input-box"
                        placeholder="사용하고자 하는 아이디를 입력하세요.">
                    <button class="check-if-duplicated-btn">확인</button>
                </div>
                <div class="if-duplicated-result-wrapper">
                    <span class="after-checking-username returned-username">
                        {% if available_username %}
                        {{available_username}}&nbsp;
                        {% elif unavailable_username %}
                        {{unavailable_username}}&nbsp;
                        {% endif %}
                    </span>
                    <span class="after-checking-username">
                        {% if available_username %}
                        은 사용 가능한 아이디입니다.
                        {% elif unavailable_username %}
                        은 사용 가능하지 않은 아이디입니다.
                        {% endif %}
                    </span>
                </div>
                <div class="bottommost-wrapper">
                    {% if available_username %}
                    <div class="btns use-this-username-btn">
                        사용하기
                    </div>
                    <div class="btns close-window-btn">
                        창 닫기
                    </div>
                    {% endif %}
                </div>


            </form>
        </div> <!-- inner wrapper -->
    </div> <!-- outter wrapper -->
</body>

</html>