{% load static %}

<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1">
    <title>비밀번호찾기</title>
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/findpasswd.css' %}">
    <script type="text/javascript" src="{% static 'users/js/findpasswd.js' %}"></script>
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
</head>

<body>
    <div class="wrapper">
        <div class="above-menu-wrapper">
            <div class="dot-wrapper" onclick="location.href='/';">
                <div class="red-dot dot"></div>
                <div class="yellow-dot dot"></div>
                <div class="green-dot dot"></div>
            </div>
        </div>

        <div class="below-container">
            <div class="container-login100">
                <div class="wrap-login100">
                    <form action="" method="POST" enctype="application/x-www-form-urlencoded" id="reset-passwd"
                        class="login100-form validate-form p-l-55 p-r-55 p-t-178">
                        {% csrf_token %}
                        {% if msg %}
                        <script>
                            alert("{{ msg }}")
                        </script>
                        {% endif %}
                        <span class="login100-form-title">
                            비밀번호 초기화
                        </span>

                        <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
                            <input class="input100" type="text" name="username" maxlength="20" placeholder="아이디"
                                required>
                            <span class="focus-input100"></span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Please enter password">
                            <input class="input100" type="email" name="email" placeholder="이메일" required>
                            <span class="focus-input100"></span>
                        </div>

                        <div class="container-login100-form-btn p-t-30">
                            <button class="login100-form-btn">
                                초기화하기
                            </button>
                        </div>

                        <div class="flex-col-c p-t-140 p-b-40">
                            <span class="txt1 p-b-9">
                                비밀번호를 찾으셨나요?
                            </span>

                            <a href="/auth/login/" class="txt3">
                                로그인하러 가기
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div> <!-- below-container -->
    </div><!-- wrapper -->
</body>

</html>