{% load static %}
<!-- 비번 찾기 템플릿 찾아서 변경하기 -->


<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1">
    <title>비밀번호찾기</title>
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/findpasswd.css' %}">
    <script type="text/javascript" src="{% static 'users/js/findpasswd.js' %}"></script>
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
</head>

<body>
    <div class="wrapper">
        <div class="above-menu-wrapper">
            <div class="dot-wrapper" onclick="location.href='/';">
                <div class="red-dot dot"></div>
                <div class="yellow-dot dot"></div>
                <div class="green-dot dot"></div>
            </div>
        </div>

        <div class="below-container">
            <div class="screen">
                <div class="screen-content">
                    <form class="login" method="POST" enctype="application/x-www-form-urlencoded" id="login-form">
                        {% csrf_token %}
                        <div class="login-field">
                            <i class="login-icon fas fa-user"></i>
                            <input type="text" class="login-input" placeholder="아이디" name="username" required>
                        </div>
                        <div class="login-field">
                            <i class="login-icon fas fa-lock"></i>
                            <input type="email" class="login-input" placeholder="이메일" name="email" required>
                            <br>
                        </div>
                        {% if msg %}
                        <script>
                            alert("{{ msg }}");
                        </script>
                        {% endif %}
                        <button class="button login-submit">
                            <div class="login-error-wrapper">
                                <span class="button-text">비밀번호 재설정</span>
                                {% if error %}
                                <div class="login-error">{{ error }}</div>
                                {% endif %}
                            </div>
                            <i class="button-icon fas fa-chevron-right"></i>
                        </button>
                    </form>
                </div>
                <div class="screen-background">
                    <span class="screen-background-shape screen-background-shape4"></span>
                    <span class="screen-background-shape screen-background-shape3"></span>
                    <span class="screen-background-shape screen-background-shape2"></span>
                    <span class="screen-background-shape screen-background-shape1"></span>
                </div>
            </div>
        </div>
    </div>
</body>

</html>