{% load static %}

<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1">
    <title>로그인</title>
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/login.css' %}">
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
</head>

<body>
    <div class="wrapper">
        <div class="above-menu-wrapper">
            <div class="dot-wrapper" onclick="location.href='/';">
                <div class="red-dot dot"></div>
                <div class="yellow-dot dot"></div>
                <div class="green-dot dot"></div>
            </div>
        </div>

        <div class="below-container">
            <div class="screen">
                <div class="screen__content">
                    <form class="login" method="POST" enctype="application/x-www-form-urlencoded" id="login-form">
                        {% csrf_token %}
                        <div class="login__field">
                            <i class="login__icon fas fa-user"></i>
                            <input type="text" class="login__input" placeholder="아이디" name="username">
                        </div>
                        <div class="login__field">
                            <i class="login__icon fas fa-lock"></i>
                            <input type="password" class="login__input" placeholder="비밀번호" name="password">
                            <br>
                            <a class="remind-password" href="#">비밀번호찾기</a>
                        </div>
                        <button class="button login__submit">
                            <div class="login-error-wrapper">
                                <span class="button__text">로그인</span>
                                {% if error %}
                                <div class="login-error">{{ error }}</div>
                                {% endif %}
                            </div>
                            <i class="button__icon fas fa-chevron-right"></i>
                        </button>
                    </form>
                    <div class="yet-member">
                        <h5>아직 회원이 아니신가요?</h5>
                        <a class="signup-link" href="/auth/signup/">회원가입</a>
                    </div>
                </div>
                <div class="screen__background">
                    <span class="screen__background__shape screen__background__shape4"></span>
                    <span class="screen__background__shape screen__background__shape3"></span>
                    <span class="screen__background__shape screen__background__shape2"></span>
                    <span class="screen__background__shape screen__background__shape1"></span>
                </div>
            </div>
        </div>
    </div>
</body>

</html>