{% load static %}
<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1">
    <!-- 캐시삭제 -->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />

    <title>회원가입 페이지</title>
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/signup.css' %}">
</head>

<body>
    <div class="outter-wrapper">
        <div class="inner-wrapper">
            <form action="" type="POST" enctype="application/x-www-form-urlencoded">
                gpgpgp
            </form>
        </div>
    </div>
</body>

</html>