{% load static %}
<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1">
    <!-- 캐시삭제 -->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />

    <title>회원가입 페이지</title>
    {% if signup_success %}
    <script type="text/javascript" src="{% static 'users/js/signup3.js' %}"></script>
    {% elif token_url %}
    <script type="text/javascript" src="{% static 'users/js/signup2.js' %}"></script>
    {% else %}
    <script type="text/javascript" src="{% static 'users/js/signup1.js' %}"></script>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/signup.css' %}">
    <link href="http://fonts.googleapis.com/earlyaccess/hanna.css" rel="stylesheet">
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
</head>

<body>
    <div class="above-menu-wrapper">
        <div class="dot-wrapper" onclick="location.href='/';">
            <div class="red-dot dot"></div>
            <div class="yellow-dot dot"></div>
            <div class="green-dot dot"></div>
        </div>
    </div>


    <div class="outter-wrapper">
        <div class="inner-wrapper">


            <div class="step">
                <ul class="status-bar">
                    <!-- 일정 조건이 되면 active css 적용이 되도록 설정 추가 필요 -->
                    <li class="first-step-sign"><label><b>약관동의</b></label></li>
                    <i class="fas fa-arrow-alt-circle-right first-right-arrow"></i>
                    <li class="second-step-sign"><label><b>회원정보</b></label></li>
                    <i class="fas fa-arrow-alt-circle-right second-right-arrow"></i>
                    <li class="third-step-sign"><label><b>가입완료</b></label></li>
                </ul>
            </div>

            <!--signup third step-->
            {% if signup_success %}
            <div class="signup-success-wrapper">
                <img src="{% static 'users/images/signup_success_removebg.png' %}" alt="하이리온"
                    class="signup-success-img">
                <div class="btn-wrapper">
                    <a class="login-btn btn" href="/auth/login/">로그인하기</a>
                    <a class="gopost-btn btn" href="/post/">게시판으로</a>
                </div>
            </div>

            <!--signup second step-->
            {% elif token_url %}
            <form action="" method="POST" enctype="application/x-www-form-urlencoded" id="join-form">
                {% csrf_token %}
                <p class="signup-label">아이디</p>
                <input required name="username" type="text" maxlength="20" class="input-box" id="signup-id"
                    value="{% if error %}{{ username }}{% endif %}" placeholder="입력을 원하시면 클릭하세요" />
                {% if error %}
                <div class="duplicated-id-error">{{ error }}</div>
                {% endif %}

                <p class="signup-label">비밀번호(공백문자 제외 8~20자)<br />(대소문자, 숫자, 특수문자 각각 1개 이상 포함)</p>
                <input required name="password" type="password" minlength="8" maxlength="20" id="signup-password"
                    class="input-box" value="{% if error %}{{ password }}{% endif %}" />
                <div class="warning-password-validation">비밀번호 규칙에 맞게 작성해주세요</div>

                <p class="signup-label">비밀번호 확인</p>
                <input required name="confirm-password" type="password" minlength="8" maxlength="20"
                    id="signup-password-confirm" class="input-box"
                    value="{% if error %}{{ confirm_passord }}{% endif %}" />
                <div class="warning-password-confirm">비밀번호가 일치하지 않습니다</div>

                <p class="signup-label">이메일</p>
                <input required name="email" type="email" class="input-box"
                    value="{% if error %}{{ email }}{% endif %}" />

                <p class="signup-label">성별</p>
                <select required name="gender" id="gender">
                    {% if gender == "female" %}
                    <option value="male">남</option>
                    <option value="female" selected>여</option>
                    {% else %}
                    <option value="male" selected>남</option>
                    <option value="female">여</option>
                    {% endif %}
                </select>
                <br />

                <div class="btn-wrapper">
                    <input type="submit" class="ok-btn btn" value="가입하기" id="signup-btn"></button>
                    <a class="goback-btn btn">가입취소</a>
                </div>
            </form>


            {% else %}
            <!--signup first step-->
            <form action="" method="POST" enctype="application/x-www-form-urlencoded" id="join-agreement-form">
                {% csrf_token %}
                <div class="terms">
                    <div class="inner-terms">
                        <div class="hide-and-show-terms">
                            <h3>약관 보기</h3>
                            <i class="fas fa-arrow-down"></i>
                        </div>
                        <div class="check-agreement">
                            <h5>약관 동의</h5>
                            <input class="check-box" type="checkbox" name="agree-with-terms" value="agree-with-terms"
                                required>
                        </div>
                    </div>
                    <div class="agreement-content-wrapper">
                        <p class="agreement-content">
                            이 사이트에서는 개인정보보호법에 따른 개인식별정보 및 민감정보를 수집하지 않습니다. <br><br>
                            따로 삭제한 자료를 보관해두지 않기 때문에 회원탈퇴 시 복구가 안 됩니다. <br><br>
                            회원가입 개인정보수집 동의 따라만든 것이니까 그냥 그러려니 하고
                            동의하기 누르고 넘어가면 됩니다. <br><br> 이 뒤에는 계속 헛소리를 써 넣을 것입니다. <br><br>
                            어떤 날에든 저녁하늘은 못 올려보는 습관이 있어 온 세상이 날 떠나는듯한 이상한 그 기분이 싫어
                            멀리 떨어지는 저 해는 내일 다시 올 텐데 나를 비춰줬던 햇살은 아닐 것 같아
                            니가 가도 사랑은 다시 오고 소란스런 이별을 겪어봐도
                            이렇게 너는 너는 너는 자꾸 맘에 걸려 가끔씩은 좋아서 웃긴 하고
                            더 가끔씩은 행복의 맛을 봐도 아직도 너는 너는 너는 Deep in me
                            누군가에게 맘을 줄 때면 반을 남기는 습관이 있어 다 줘버리면 떠날 것 같은 이상한 그 예감이 싫어
                            반쯤 아껴둔 이 맘 누구 줄 수 조차 없는데 반쯤 고장 나버린 나를 들키긴 싫어
                            니가 가도 사랑은 다시 오고 소란스런 이별을 겪어봐도 이렇게 너는 너는 너는 자꾸 맘에 걸려
                            가끔씩은 좋아서 웃긴 하고 더 가끔씩은 행복의 맛을 봐도
                            아직도 너는 너는 너는 Deep in me 너의 맘은 어디쯤일까
                            나를 맴돈 적은 있을까 나처럼 아주 가끔 시간이라는 게 다 지우지는 못 하나 봐
                            아직도 네 이름은 편히 말하질 못해 니가 아닌 누군가 나를 안고 내가 아닌 누군가 너를 안고
                            이렇게 오래 오래 오래 나날들이 가도 하지 못한 말들이 입에 남아 다 주지 못한 사랑이 맘에 남아
                            어쩌면 너는 너는 너는 Still in me
                        </p>
                    </div>
                </div>
                <div class="btn-wrapper">
                    <button class="ok-btn btn">동의하기</button>
                    <a class="goback-btn btn">돌아가기</a>
                </div>
            </form>
            {% endif %}
        </div> <!-- inner wrapper -->
    </div> <!-- outter wrapper -->
</body>

</html>